<app-user-logout></app-user-logout>

<p><a [routerLink]="['/dashboard']" >Home</a></p>

<h3>{{ user.name }}'s Bucket List</h3>

<div *ngFor="let post of posts">
	<table>
		<thead>
			<tr>
				<th>
					Check?
				</th>
				<th>
					Author
				</th>
				<th>
					Title
				</th>
				<th>
					Description
				</th>
				<th>
					Date
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let post of posts">
				<td>
					<form>
						<input type = "checkbox">
					</form>
				</td>
				<td>
					<a [routerLink]="['/user', 'show', user._id]" >{{ post._user.name }}</a>
				</td>
				<td>
					{{ post.title }}
				</td>
				<td>
					{{ post.description }}
				</td>
				<td>
					{{ post.createdAt | date:'mediumDate'}}
				</td>					
				<td>
					<button id = "delete-button" (click)="delete(post._id)">delete</button>
				</td>
			</tr>			
		</tbody>
	</table>
</div>
